#body
 {
    background-color: rgb(236, 222, 224);
    display: grid;

    
}
#title
{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    text-transform: uppercase;
}
h1{
    text-align: center;
    text-transform: uppercase;

}

#description{
    text-align: center;
    font-size: 25px;
   

}
#survey-form
{
    background-color: #4c845b;
	border-radius: 10px;
	text-align: center;
	margin: 20px;
	margin-top: 30px;
    margin-left: 350px;
    margin-right: 350px;
	font-size: 20px;
	padding: 35px;
    box-shadow: 0 0.66rem 2.4rem #73A580;
}
div > input{
    padding: 10px;
    border-radius: 5px;
    border: 0;
}
div{
    margin: 10px 0;
}
select{
    padding: 10px;
    border: 0;
    border-radius: 5px;
}